doctype html
html(lang='en')
  head
    title Circle 衛星環繞網頁
    //-include jQuery CDN & index.js
    script(src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous")
    script(src="index.js")
    //-include style.css
    link(href="./style.css", rel="stylesheet")
  body
    .space
    .moon
      .hole
      .hole
      .hole
      .hole
    .red
    .yellow
    .trace1
    .trace2